#appLogo {
  margin: 50px;
  object-fit: contain;
}

.appBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  padding-top: 15px;
  /* background-color: rgba(20, 20, 20, 0.6); */
}
.avatar {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

@media only screen and (max-width: 600px) {
  .avatar {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background-image: url("https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  }
  #appLogo {
    margin: 3px;
    overflow-y: hidden !important;
    object-fit: contain;
  }
}
